@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    background: #fcfcfc;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

main.container {
    margin-left: 50px;
}
a {
    text-decoration: none;
    color: #bbb2b2;
    transition: color 500ms ease;
}

a:hover {
    color: #fff;
}

.container {
    width: 100%;
    margin: 30px 100px;

}

header.container {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    box-sizing: border-box;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
    background: #3f1c1c;
    height: 50px;
    width: 100%;
}

header .logo {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    padding-left: 20px;
}

header nav a {
    margin-left: 40px;
}

header .menu {
    margin-left: 20px;
    color: #fff;
}

div.block {
    width: 100%;
    padding: 20px;
    border: 1px solid silver;
    border-bottom-width: 2px;
    background: #ebebeb;
    line-height: 170%;
}

.items {
    display: block;
    float: left;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 50px;
    height: 500px;
    
}

.items > div {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    background: #f7f3f3;
    padding: 5px;
    box-sizing: border-box;
}

.info-text {
    color:#111111;
}
.items > div h3{
    color: #fff;
    margin: 7px 0;
    font-size: 23px;
}

.items > div p {
    color: #5a2e43;
}

.items > div b {
    color: #5534ce;
}

.items div > span {
    position: absolute;
    background: #fdbd01;
    padding: 10px;
    bottom: -18px;
    left: 20px;
    font-weight: 600;
    color: #111111;
}

form input {
    width: 500px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid #78a9e0;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin-top: 15px;
    resize: none;
}

form button, .edit-btn {
    margin-top: 20px;
    padding: 10px 25px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background: #119242;
    transition: background 500ms ease;
}

form button:hover {
    background: #05421c;
}

.add-ref {
    float: left;
}

.presentation {
    float: left;
    width: 100%;
    background: #ff6447;
    padding: 50px 200px;
    box-sizing: border-box;
    margin-bottom: 70px;
}
 .presentation h2 {
    color: #fff;
    font-size: 35;
    padding-top: 90px;
 }

 .presentation p {
    color: #622424;
    font-size: 16px;
    padding-top: 7px;
    max-width: 380px;
 }

 .presentation img {
    float: right;
    width: 300px;
    position: relative;
    top: 51px;
 }

 footer {
    margin-top: 500px;
    margin-bottom: 100px;
    text-align: center;
}